@{
    ViewData["Title"] = "Home Page";
}

<main class="page lanidng-page" style="/*background-color: blue;*/">
    <div></div>
    <section class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2>Highlight</h2>
                        <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. Aliqua sed justo ligula.</p>
                        <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. Aliqua sed justo ligula.</p>
                        <form class="form-inline" method="post">
                            <div class="form-group"><input class="form-control" type="text" name="search_field" placeholder="¿Qué quieres busca hoy??"></div>
                            <div class="form-group"><button class="btn btn-primary" type="submit">Buscar</button></div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4" style="padding: 0;"><img class="img-fluid device" src="~/img/Ok-amico.svg" height="10%"></div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="heading">
            <h2>Trabajo reciente</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="project-card-no-image">
                    <h3>Lorem Ipsum</h3>
                    <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">Saber más</a>
                    <div class="tags" style="font-size: 19px;margin: 0;"><span class="badge badge-success text-capitalize d-lg-flex" data-toggle="tooltip" data-bs-tooltip="" style="font-size: 11;padding: 6px;" title="Mensaje verificado">Validado</span></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="project-card-no-image">
                    <h3>Lorem Ipsum</h3>
                    <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">Saber más</a>
                    <div class="tags" style="font-size: 19px;margin: 0;"><span class="badge badge-danger text-capitalize d-lg-flex" data-toggle="tooltip" data-bs-tooltip="" style="font-size: 11;padding: 6px;" title="Mensaje verificado">Falso</span></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="project-card-no-image">
                    <h3>Lorem Ipsum</h3>
                    <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">Saber más<br></a>
                    <div class="tags" style="font-size: 19px;margin: 0;"><span class="badge badge-warning text-capitalize d-lg-flex" data-toggle="tooltip" data-bs-tooltip="" style="font-size: 11;padding: 6px;" title="Mensaje verificado">Comprobando</span></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="project-card-no-image">
                    <h3>Lorem Ipsum</h3>
                    <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">Saber más</a>
                    <div class="tags" style="font-size: 19px;margin: 0;"><span class="badge badge-success text-capitalize d-lg-flex" data-toggle="tooltip" data-bs-tooltip="" style="font-size: 11;padding: 6px;" title="Mensaje verificado"><strong>Validado</strong><br></span></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="project-card-no-image">
                    <h3>Lorem Ipsum</h3>
                    <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">Saber más</a>
                    <div class="tags" style="font-size: 19px;margin: 0;"><span class="badge badge-success text-capitalize d-lg-flex" data-toggle="tooltip" data-bs-tooltip="" style="font-size: 11;padding: 6px;" title="Mensaje verificado"><strong>Validado</strong><br></span></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="project-card-no-image">
                    <h3>Lorem Ipsum</h3>
                    <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">Saber más</a>
                    <div class="tags" style="font-size: 19px;margin: 0;"><span class="badge badge-success text-capitalize d-lg-flex" data-toggle="tooltip" data-bs-tooltip="" style="font-size: 11;padding: 6px;" title="Mensaje verificado"><strong>Validado</strong><br></span></div>
                </div>
            </div>
        </div>
    </div>
    <section class="portfolio-block call-to-action border-bottom">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center content">
                <h3>¿Quieres saber más?</h3><button class="btn btn-outline-primary btn-lg" type="button">Contáctanos</button>
            </div>
        </div>
    </section>
</main>
<section></section>
<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Equipo</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="~/img/1.jpg">
                <h3 class="name">Ben Johnson</h3>
                <p class="title">Musician</p>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="~/img/2.jpg">
                <h3 class="name">Emily Clark</h3>
                <p class="title">Artist</p>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="~/img/3.jpg">
                <h3 class="name">Carl Kent</h3>
                <p class="title">Stylist</p>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</div>